<div class="view">
    <center>
        <strong>Cakebox (<a target="_blank" href="https://github.com/Micdu70/cakebox">Micdu70's fork version</a>)</strong><br>
        <span translate="ABOUT_PAGE.VERSION"></span> <a target="_blank" href="https://github.com/Micdu70/cakebox/releases/tag/v{{ app.version.local }}">{{ app.version.local }}</a><br>
        <br>
        <strong translate="ABOUT_PAGE.TITLE2"></strong><br>
        <a target="_blank" href="https://github.com/MardamBeyK">MardamBey</a> & <a target="_blank" href="https://github.com/Tuxity">Tuxity</a><br>
        <br>
        <strong translate>ABOUT_PAGE.THANKS</strong><br>
        MiLk, <a target="_blank" href="https://github.com/mpgn">mpgn</a>, <a target="_blank" href="https://github.com/L3o-pold">L3o-pold</a>, grm34, fma16, Magicalex<br>
        {{ 'ABOUT_PAGE.THANKS_FOR' | translate }}<br>
        <br>
        Candle<br>
        {{ 'ABOUT_PAGE.THANKS_CANDLE' | translate }}
    </center>
</div>
